<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Spam Classifier</title>
  <style>
    body { text-align:center; }
    button { background-color:blue; color:white; }
  </style>
</head>
<body>
  <h1>Email Spam Classifier</h1>
  <form method="post" action="/predict">
    <div>
      <textarea name="email-content" placeholder="Enter your email body" rows="15" cols="35">{{ email_text }}</textarea>
    </div>
    <button type="submit">Check Spam</button>
    <a href="/">Reset</a>
  </form>

  {% if predictions %}
    <h2>Prediction: {{ predictions }}</h2>
  {% endif %}
</body>
</html>
